In [2]:
import numpy as np

# Numpy Arrays

## zeros

In [18]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [12]:
np.zeros((5,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [14]:
np.zeros((5,2), dtype = 'complex')

array([[0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j]])

In [85]:
np.zeros((5,3,2))

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]]])

## zero_like

In [16]:
np.zeros_like([[1,2,3],[4,5,6]], dtype = 'float')

array([[0., 0., 0.],
       [0., 0., 0.]])

## ones

In [17]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [20]:
np.ones((3,4),dtype = 'float')

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

## ones_like

In [22]:
np.ones_like([1,2,3,4,5])

array([1, 1, 1, 1, 1])

## full

In [23]:
np.full((6,3), fill_value=np.inf)

array([[inf, inf, inf],
       [inf, inf, inf],
       [inf, inf, inf],
       [inf, inf, inf],
       [inf, inf, inf],
       [inf, inf, inf]])

In [25]:
np.full((5,1), fill_value=-9999)

array([[-9999],
       [-9999],
       [-9999],
       [-9999],
       [-9999]])

In [30]:
np.full((5,), fill_value=-9999)

array([-9999, -9999, -9999, -9999, -9999])

## full_like

In [33]:
np.full_like([[2,3,4],[1,2,3]], fill_value=-1, dtype=complex)

array([[-1.+0.j, -1.+0.j, -1.+0.j],
       [-1.+0.j, -1.+0.j, -1.+0.j]])

# empty

In [37]:
np.empty((5,3))

array([[-2.31584178e+077,  3.11108450e+231,  3.95252517e-323],
       [ 0.00000000e+000,  0.00000000e+000,  0.00000000e+000],
       [ 0.00000000e+000,  0.00000000e+000,  0.00000000e+000],
       [ 0.00000000e+000,  0.00000000e+000,  0.00000000e+000],
       [ 0.00000000e+000,  0.00000000e+000,  0.00000000e+000]])

# empty_like

In [42]:
np.empty_like(np.array([1,2,3]), dtype = 'float')

array([-2.31584178e+77,  1.73059820e-77, -2.31584178e+77])

## array

In [58]:
print(np.array([1,2,3]), "\n")
print(np.array([(1,2,3), (4,5,6)]), "\n")
print(np.array([1,2], ndmin = 3), "\n")
print(np.array([1,2,3,4,5], dtype = 'float'))

[1 2 3]

[[1 2 3]
 [4 5 6]]

[[[1 2]]]

[1. 2. 3. 4. 5.]

## asarray

In [57]:
a = [[1,2,3],[4,5]]
np.asarray(a)

array([list([1, 2, 3]), list([4, 5])], dtype=object)

## eye

In [63]:
np.eye(3, dtype = 'int', k = 0)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [60]:
np.eye(4, k = 1)

array([[0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.]])

In [61]:
np.eye(4, k = -1)

array([[0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.]])

## arange()

In [69]:
print(np.arange(5, dtype = np.float))
print(np.arange(3,10))
print(np.arange(10,23) * 10 + 1)
print(np.arange(3,10, step  = 2))  #step must have both start and end
print(np.arange(26, step = 5))  # this is inconsistent

[0. 1. 2. 3. 4.]
[3 4 5 6 7 8 9]
[101 111 121 131 141 151 161 171 181 191 201 211 221]
[3 5 7 9]
[ 0  5 10 15 20 25]

## linspace

In [78]:
print(np.linspace(0,100,6), "\n")
print(np.linspace(2.0, 3.0, num=5), "\n")
print(np.linspace(2.0, 3.0, num=5, endpoint = False), "\n") # not include end point
print(np.linspace(2.0, 3.0, num=5, retstep=True))  # returns samples, steps

[  0.  20.  40.  60.  80. 100.]

[2.   2.25 2.5  2.75 3.  ]

[2.  2.2 2.4 2.6 2.8]

(array([2.  , 2.25, 2.5 , 2.75, 3.  ]), 0.25)

In [80]:
arr = np.linspace(2.0, 3.0, num=5)
arr

array([2.  , 2.25, 2.5 , 2.75, 3.  ])

In [83]:
arr[0], arr[1], arr[arr.size-1]

(2.0, 2.25, 3.0)

## ndarray

In [91]:
print(np.ndarray(shape = (2,3), dtype = 'float'), "\n")
print(np.ndarray(shape = (3,), ), "\n")
print(np.ndarray(shape = (2,), buffer = np.array([1,2,3]), dtype = int))

[[  0.  20.  40.]
 [ 60.  80. 100.]]

[4.9e-324 9.9e-324 1.5e-323]

[1 2]

## random.rand / random.randn

In [94]:
print(np.random.rand(2,3), "\n")
print(np.random.rand(2,3) * 100, "\n")
print(np.random.randn(2,3))

[[0.23008459 0.61342066 0.22300839]
 [0.17892794 0.00408192 0.48924663]]

[[48.25927809 14.03683376 15.76493637]
 [33.7330035  53.71998815 93.31351018]]

[[-1.95370233 -0.09583698  1.43032467]
 [-0.14338627  1.04679082 -1.27090674]]

## random.randint

In [101]:
print(np.random.randint(2,10, size = (5)), "\n")
print(np.random.randint(3, size = (5)), "\n")
print(np.random.randint(2,10, size = (2,3)), "\n")

[3 8 2 2 9]

[0 2 2 1 2]

[[8 7 5]
 [8 7 5]]

# Indexing, Slicing Subsetting

## indexing/slicing

In [131]:
arr = np.arange(5)
arr

array([0, 1, 2, 3, 4])

In [132]:
print(arr[0])
print(arr[2:4])
print(arr[:-1])
print(arr[-3])
print(arr[:-2])
print(arr[::-1])
arr[3] = -1
print(arr)

0
[2 3]
[0 1 2 3]
2
[0 1 2]
[4 3 2 1 0]
[ 0  1  2 -1  4]

In [141]:
arr = np.arange(35).reshape(5,7)
arr

array([[ 0,  1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12, 13],
       [14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27],
       [28, 29, 30, 31, 32, 33, 34]])

In [142]:
print(arr[1])
print(arr[2,5])
print(arr[:2])
print(arr[2:])
print(arr[2:5])
print(arr[2:5, 3])
print(arr[2, 3:])
print(arr[:,1])
arr[3,5] = -1
print(arr)
arr[:,0] = -1
print(arr)

[ 7  8  9 10 11 12 13]
19
[[ 0  1  2  3  4  5  6]
 [ 7  8  9 10 11 12 13]]
[[14 15 16 17 18 19 20]
 [21 22 23 24 25 26 27]
 [28 29 30 31 32 33 34]]
[[14 15 16 17 18 19 20]
 [21 22 23 24 25 26 27]
 [28 29 30 31 32 33 34]]
[17 24 31]
[17 18 19 20]
[ 1  8 15 22 29]
[[ 0  1  2  3  4  5  6]
 [ 7  8  9 10 11 12 13]
 [14 15 16 17 18 19 20]
 [21 22 23 24 25 -1 27]
 [28 29 30 31 32 33 34]]
[[-1  1  2  3  4  5  6]
 [-1  8  9 10 11 12 13]
 [-1 15 16 17 18 19 20]
 [-1 22 23 24 25 -1 27]
 [-1 29 30 31 32 33 34]]

## subsetting and boolean masking

In [145]:
arr = np.array([1,10,3,40,28,21,14,35])
arr

array([ 1, 10,  3, 40, 28, 21, 14, 35])

In [146]:
arr > 15

array([False, False, False,  True,  True,  True, False,  True])

In [147]:
arr[arr > 15]

array([40, 28, 21, 35])

In [148]:
arr[(arr > 20) & (arr < 35)]

array([28, 21])

In [149]:
arr[(arr % 7 == 0)]

array([28, 21, 14, 35])

In [151]:
arr[~(arr > 20)]

array([ 1, 10,  3, 14])

In [153]:
nd_arr =  np.arange(30).reshape(6,5)
nd_arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

In [155]:
nd_arr[nd_arr > 20]

array([21, 22, 23, 24, 25, 26, 27, 28, 29])

# Broadcasting

In [164]:
#1d and scalar
np.array((1,2,3)) + 2

array([3, 4, 5])

In [165]:
#2d array and scalar
np.array([[1,2,3],[4,5,6]]) * 2

array([[ 2,  4,  6],
       [ 8, 10, 12]])

In [186]:
# 1d array and a 2d array
a1 = np.array([[1,2,3],[4,5,6]])   #2,3
b1 = np.array([1,2,3])  #1,3  -> 3,
a1 + b1

array([[2, 4, 6],
       [5, 7, 9]])

In [187]:
a1 = np.array([[1,2,3],[4,5,6]])   #2,3
b1 = np.array([[1],[2], [3]])  #3,1   # error (2,3) not compatible with (3,1)

In [192]:
a1 = np.array([[1,2,3],[4,5,6]])   #2,3
b1 = np.array(2)   #1, - > 1,1
a1 + b1

array([[3, 4, 5],
       [6, 7, 8]])

In [197]:
a1 = np.array([[1,2,3],[4,5,6]])   #2,3
b1 = np.array([1,2])   #1 ,2 # error

In [203]:
nd = np.arange(70).reshape(2,7,5)
nd

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [205]:
nd.sum(axis = 1)

array([[105, 112, 119, 126, 133],
       [350, 357, 364, 371, 378]])

In [208]:
nd.sum(axis = 0)

array([[ 35,  37,  39,  41,  43],
       [ 45,  47,  49,  51,  53],
       [ 55,  57,  59,  61,  63],
       [ 65,  67,  69,  71,  73],
       [ 75,  77,  79,  81,  83],
       [ 85,  87,  89,  91,  93],
       [ 95,  97,  99, 101, 103]])

In [209]:
nd.sum(axis = 2)

array([[ 10,  35,  60,  85, 110, 135, 160],
       [185, 210, 235, 260, 285, 310, 335]])

# Views and Copies

In [216]:
# copy
r1 = np.array([1,2,3,4])
r2 = np.copy(r1)
print(r1, r2)

#reference equality
print(r1 is r2)   # false so diff copies created

#check id for reference equality
print(id(r1), id(r2))   # not same

#value equality
print(r1 ==  r2)

#change value in r1, should not affect values in r2
r1[2] = 1000
print(r1, r2)

[1 2 3 4] [1 2 3 4]
False
4604831424 4633762672
[ True  True  True  True]
[   1    2 1000    4] [1 2 3 4]

In [232]:
# views 

v1 =  np.array([1,2,3,4,5])
v2 =  v1

#reference equality
print(v1 is v2)

#check id for reference equality
print(id(v1), id(v2))

#value equality
print(v1 ==  v2)

v3 = np.array([1,2,3,4,5])  #v3 not linked to v1 this way

#reference equality
print(v1 is v3)

#upadate v1
v1[2] = 10101
print(v1, v2)   # v1 and v2 both changed as they are views of each other

#same can be done using view
v4  = v1.view()
print(v4)
v4[1] = 1010
print(v1,v4,v2)

True
4657368320 4657368320
[ True  True  True  True  True]
False
[    1     2 10101     4     5] [    1     2 10101     4     5]
[    1     2 10101     4     5]
[    1  1010 10101     4     5] [    1  1010 10101     4     5] [    1  1010 10101     4     5]

# array properties

In [234]:
arr = np.array([[1,2,3], [4,5,6]], dtype = 'float')
arr

array([[1., 2., 3.],
       [4., 5., 6.]])

In [235]:
arr.shape

(2, 3)

In [236]:
arr.ndim

2

In [237]:
arr.shape

(2, 3)

In [238]:
arr.size

6

In [241]:
np.info(arr)

class:  ndarray
shape:  (2, 3)
strides:  (24, 8)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  False
data pointer: 0x7fa86620c9b0
byteorder:  little
byteswap:  False
type: float64

In [242]:
arr.dtype

dtype('float64')

In [249]:
arr.astype(int, copy = False)

array([[1, 2, 3],
       [4, 5, 6]])

In [250]:
arr.tolist()

[[1.0, 2.0, 3.0], [4.0, 5.0, 6.0]]

# Insert, Delete, Horizontal, Vertical Stacking, Append

## Append

In [263]:
a = np.arange(24).reshape(2,3,4)
a

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [267]:
b = np.append(a, [1,2,3,4])
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23,  1,  2,  3,  4])

In [268]:
b.shape

(28,)

In [279]:
np.append([[1,2,3],[4,5,6]], [[7,8,9]], axis = 0)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [284]:
np.append([[1,2,3],[4,5,6]], [[7],[8]], axis = 1)

array([[1, 2, 3, 7],
       [4, 5, 6, 8]])

## hstack

In [286]:
np.hstack([[1,2,3], [4,5,6]])

array([1, 2, 3, 4, 5, 6])

In [289]:
np.hstack([[[1],[2],[3]], [[4],[5],[6]]])

array([[1, 4],
       [2, 5],
       [3, 6]])

## vstack

In [290]:
np.vstack([[1,2,3], [4,5,6]])

array([[1, 2, 3],
       [4, 5, 6]])

In [291]:
np.vstack([[[1],[2],[3]], [[4],[5],[6]]])

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6]])

## stack

In [292]:
np.stack([[1,2,3], [4,5,6]], axis = 0)

array([[1, 2, 3],
       [4, 5, 6]])

In [368]:
np.stack([[1,2,3,4,5], [5,6,7,8,9]], axis = -1)

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8],
       [5, 9]])

## Insert

In [317]:
a = np.array([[1, 1], [2, 2], [3, 3]])
np.insert(a, 2, 10)

array([ 1,  1, 10,  2,  2,  3,  3])

In [318]:
np.insert(a, 1, 10, axis=1)

array([[ 1, 10,  1],
       [ 2, 10,  2],
       [ 3, 10,  3]])

In [319]:
np.insert(a, 1, 10, axis=0)

array([[ 1,  1],
       [10, 10],
       [ 2,  2],
       [ 3,  3]])

In [320]:
np.insert(a, [1], [[1],[2],[3]], axis=1)

array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])

In [321]:
a = np.arange(24).reshape(6,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [322]:
np.insert(a, (1,3), (100, 200))

array([  0, 100,   1,   2, 200,   3,   4,   5,   6,   7,   8,   9,  10,
        11,  12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23])

In [323]:
np.insert(a, (1,3), (100, 200), axis = 1)

array([[  0, 100,   1,   2, 200,   3],
       [  4, 100,   5,   6, 200,   7],
       [  8, 100,   9,  10, 200,  11],
       [ 12, 100,  13,  14, 200,  15],
       [ 16, 100,  17,  18, 200,  19],
       [ 20, 100,  21,  22, 200,  23]])

In [324]:
np.insert(a, (1,3), (-99), axis = 1)

array([[  0, -99,   1,   2, -99,   3],
       [  4, -99,   5,   6, -99,   7],
       [  8, -99,   9,  10, -99,  11],
       [ 12, -99,  13,  14, -99,  15],
       [ 16, -99,  17,  18, -99,  19],
       [ 20, -99,  21,  22, -99,  23]])

In [316]:
np.insert(a, (1,3), (100, False))

array([  0, 100,   1,   2,   0,   3,   4,   5,   6,   7,   8,   9,  10,
        11,  12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23])

## Delete

In [344]:
arr = np.array([[1,2,3,4,10], [5,6,7,8,10], [9,10,11,12,10], [13,14,15,16,10]])
arr

array([[ 1,  2,  3,  4, 10],
       [ 5,  6,  7,  8, 10],
       [ 9, 10, 11, 12, 10],
       [13, 14, 15, 16, 10]])

In [345]:
np.delete(arr, 1, axis = 0 )

array([[ 1,  2,  3,  4, 10],
       [ 9, 10, 11, 12, 10],
       [13, 14, 15, 16, 10]])

In [346]:
np.delete(arr, 1, axis = 1)

array([[ 1,  3,  4, 10],
       [ 5,  7,  8, 10],
       [ 9, 11, 12, 10],
       [13, 15, 16, 10]])

In [347]:
np.delete(arr, 1)

array([ 1,  3,  4, 10,  5,  6,  7,  8, 10,  9, 10, 11, 12, 10, 13, 14, 15,
       16, 10])

In [348]:
np.delete(arr, slice(0,5,2), axis = 1)  #[0:5:2]

array([[ 2,  4],
       [ 6,  8],
       [10, 12],
       [14, 16]])

In [349]:
np.delete(arr, [1,3,5], None)

array([ 1,  3, 10,  6,  7,  8, 10,  9, 10, 11, 12, 10, 13, 14, 15, 16, 10])

# Concat and Split

## concat

In [357]:
a1 = np.array([[1,2], [3,4]])
a2 = np.array([[5,6]])
np.concatenate((a1,a2), axis = 0)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [364]:
np.concatenate((a1,a2.T), axis = 1)

array([[1, 2, 5],
       [3, 4, 6]])

In [366]:
np.concatenate((a1,a2), axis = None)

array([1, 2, 3, 4, 5, 6])

## Split

In [372]:
x = np.arange(8.0)
print(x)
np.split(x, [3, 5, 6, 10])

[0. 1. 2. 3. 4. 5. 6. 7.]

[array([0., 1., 2.]),
 array([3., 4.]),
 array([5.]),
 array([6., 7.]),
 array([], dtype=float64)]

In [374]:
np.split(x, 4)

[array([0., 1.]), array([2., 3.]), array([4., 5.]), array([6., 7.])]

In [383]:
x = np.array([[1,2,3],[4,5,6], [7,8,9],[10,11,12]])
np.split(x, 2, axis =0)

[array([[1, 2, 3],
        [4, 5, 6]]), array([[ 7,  8,  9],
        [10, 11, 12]])]

# Reshape, Ravel, Falt, Flatten, Resize

## reshape

In [385]:
a = np.arange(20).reshape(5,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [388]:
a.reshape(4,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [389]:
np.reshape(a, (5,4))

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [396]:
a = np.arange(6).reshape(2,3)
print(a)
np.reshape(a, (-1,3))

[[0 1 2]
 [3 4 5]]

array([[0, 1, 2],
       [3, 4, 5]])

## Ravel

In [397]:
a = np.arange(30).reshape(5,6)
a.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [399]:
np.ravel(a)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

## Flat

In [401]:
a.flat[10]

10

In [403]:
a.flat =  1
a

array([[1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1]])

In [406]:
a.flat[[1,2,5,10]] = 100
a

array([[  1, 100, 100,   1,   1, 100],
       [  1,   1,   1,   1, 100,   1],
       [  1,   1,   1,   1,   1,   1],
       [  1,   1,   1,   1,   1,   1],
       [  1,   1,   1,   1,   1,   1]])

## Flatten

In [407]:
np.arange(20).reshape(4,5).flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

## Resize

In [409]:
a=np.array([[0,1],[2,3]])
a

array([[0, 1],
       [2, 3]])

In [411]:
np.resize(a, (2,3))

array([[0, 1, 2],
       [3, 0, 1]])

In [412]:
np.resize(a, (1,4))

array([[0, 1, 2, 3]])

In [413]:
np.resize(a, (3,4))

array([[0, 1, 2, 3],
       [0, 1, 2, 3],
       [0, 1, 2, 3]])

In [414]:
np.resize(a, (3,5))

array([[0, 1, 2, 3, 0],
       [1, 2, 3, 0, 1],
       [2, 3, 0, 1, 2]])